.introduction {
  background-color: $white;
  min-height: 822px;
}

.name {
  color: $puerto-rico;
  font-size: 36px;
  font-family: 'PT Sans', sans-serif;
  line-height: 250px;
  text-align: center;
}

.intro {
  color: $gull-grey;
  text-align: center;
  font-size: 18px;
}

.intro-container {
  margin-left: 373px;
  margin-top: -66px;
  width: 750px;
}
