.introduction {
  background-color: $white;
  min-height: 500px;
}

.name {
  color: $puerto-rico;
  font-size: 36px;
  font-family: 'PT Sans', sans-serif;
  line-height: 250px;
  text-align: center;
}

.intro {
  color: $gull-grey;
  text-align: center;
  font-size: 18px;
}

.intro-container {
  margin-left: 373px;
  margin-top: -66px;
  width: 750px;
}

.sketching,
.design,
.finalize {
  color: $puerto-rico;
}

.work {
  color: $gull-grey;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  width: 300px;
}

.sketching {
  margin-left: -200px;
}

.design {
  margin-left: 200px;
}

.finalize {
  float: right;
  margin-right: -200px;
}
