.main-header {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 538px;
}

.caption {
  color: $white;
  position: relative;;
  line-height: 435px;
  text-align: center;
}

.logo {
  margin-top: 35px;
}
