.main-header {
  background-color: $petite-orchid;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 538px;
  padding-bottom: 200px;
}

.caption {
  color: $white;
  position: relative;
  top: 261px;
  right: -21px;
  text-align: center;
}

.logo {
  margin-top: 35px;
}

.logo-link {
  color: $white;
  text-decoration: none;
  list-style: none;

    :hover {
      color: $white;
    }
}

.line {
  background-color: $white;
  border: none;
  height: 1px;
  top: 230px;
  right: -22px;
  position: relative;
  width: 80%;
}

.sub-caption {
  color: $white;
  position: relative;
  text-align: center;
  top: 236px;
  right: -26px;
}

.go-ahead {
  border: 1px solid $puerto-rico;
  background-color: $puerto-rico;
  color: $white;
  cursor: pointer;
  font-family: 'Rokkitt', serif;
  height: 56px;
  outline: $burmuda solid thick;
  position: relative;
  top: -16px;
  left: 600px;
  outline-width: 10px;
  text-align: center;
  font-size: 24.1px;
  width: 217px;
}
