.main-footer {
  background-color: $puerto-rico;
  min-height: 240px;
}

.copy {
  color: $white;
  font-family: 'Rokkitt', serif;
  font-size: 24.24px;
  margin-left: 50px;
  margin-top: 125px;
}

.imprint {
  color: $white;
  font-family: 'Rokkitt', serif;
  font-size: 24.24px;
  margin-left: 175px;
  margin-top: 125px;
}
