.portfolio-images-1,
.portfolio-images-3 {
  margin-left: 223px;
  width: 400px;
  height: 303px
}

.portfolio-images-1,
.portfolio-images-2 {
  margin-top: 75px;
  margin-bottom: 50px;
}

.portfolio-images-2,
.portfolio-images-4 {
  margin-left: 130px;
  height: 303px;
  width: 400px;
}
