.portfolio {
  min-height: 930px;
}

.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.misc-image {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  position: relative;
}

.img-list-l {
  display: inline-block;
  margin-top: 50px;
  margin-left: 250px;
  position: relative;
}

.img-list-r {
  display: inline-block;
  margin-top: 50px;
  margin-left: 106px;
  position: relative;
}

.content {
  position: absolute;
  font-family: 'Rokkitt', serif;
  font-size: 30px;
  background-color: $puerto-rico;
  width: 391px;
  left: 0px;
  bottom: 7px;
  padding-left: 10px;
  height: 90px;
  color: $white;
}

.content2 {
  color: $genoa;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  margin-top: -15px;
}

.more {
  border: 1px solid $puerto-rico;
  background-color: $puerto-rico;
  cursor: pointer;
  font-family: 'Rokkitt', serif;
  font-weight: 400;
  height: 56px;
  padding-left: 20px;
  position: relative;;
  top: 65px;
  left: 600px;
  outline-width: 10px;
  text-align: left;
  font-size: 28px;
  width: 217px;
}

.more-link {
  color: $white;
  text-decoration: none;
}

.arrow {
  cursor: pointer;
  position: relative;
  background-color: $puerto-rico;
  top: 68px;
  left: 800px;
  z-index: 1;
}
